.inter-uniquifier{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



.input{
    width: 300px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
    border-radius: 10px;
    border: none;
    margin-top: 60px;
    font-size: 24px;
}

.form-1{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FDA6D7;
    border-radius: 20px;
    width: 1250px;
    height: 700px;
    
}

.area{
    width: 1000px;
    height: 250px;
    border-radius: 60px;
    border: none;
    font-size: 32px;
}

.area::placeholder{
    font-size: 32px;
    color: black;
    padding-left: 40px;
}

.input::placeholder{
    color: black;
    font-size: 12px;
    padding-left: 20px;
}

.main{
    background-color: #321A4A;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1000px;
    border: solid white 1px;
}

.button-1{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #321A4A;
    color: white;
    font-size: 24px;
    margin-top: 50px;
}

.flex_1{
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

h1{
    color: white;
    font-family: "Inter";
}

.border_1{
    border: white solid 2px;
    border-radius: 16px;
    width: 1600px;
    height: 855px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 100px;

}
